form {
  margin-top: 3rem;
  display:flex;
  justify-content:center;
}
form input{
	margin-bottom:20px;
  	text-align:center;
}
hr{
	background-color:#fff;
}
form input[name="city"],
form input[name="country"] {
  background-color: transparent;
  color: white;
  border: none;
  border-bottom: 2px solid whitesmoke;
  border-radius: 0;
}
button{
	position:relative;
	width:100%;
}